{% extends "admin/base_site.html" %}
{% load admin_static i18n %}

{% block extrahead %}

{% if token %}
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% url 'js18n-userlog' %}"></script>
<script src="{% static 'userlog/js/live.js' %}"></script>
<script>
$(function () {
    $('#result_list').userlog({
        big_brother: {% if fieldname %}false{% else %}true{% endif %},
        locale: '{{ LANGUAGE_CODE }}',
        token: '{{ token }}',
        wsuri: 'ws://localhost:8080/'
    });
});
</script>
{% endif %}

{% endblock %}

{% block content %}

{% if fieldname %}
<form action="{% url 'live-userlog' %}" method="GET">
<label for="username">{{ fieldname|capfirst }}</label>
<input type="text" name="username">
<input type="submit" value="{% trans 'Search' %}">
</form>
{% endif %}

{% if token %}
<table id="result_list" class="module">
<thead></thead>
<tbody></tbody>
</table>
{% endif %}

{% endblock %}
